body {
    margin: 0;
    padding: 0;
}
#head-line{
    margin: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seagreen;
    margin-top: 20px;
}
#header{
    border-bottom: 2px solid black;
    height: 100px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-content: flex-end;
    justify-content: end;
}

#link-div{
    display: flex;
    align-items:flex-end; 
    justify-content:end;

}

.admin-link, .read-more{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seagreen;
    text-decoration: none;
}

.admin-link:hover{
    color: lightseagreen;
}

#post-section{ 
    width: 600px;
    margin-top: 20px;
    border-bottom: 2px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#headline{
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: seagreen;
}

#new-section-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.read-more:hover{
    color: lightseagreen;
}

.content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin: 0 auto;
    padding-top: 100px;
} 

.content__title,
.content__author,
.content__text, 
.content__tags {
    margin: 0;
}

.content__title {
    padding-bottom: 1rem;
}

.content__text {
    padding: 0.5rem 0 1rem 0;
}

.content__button {
    padding-top: 1rem;
    text-decoration: none;
    color: black;
}

