@import 'basic-style.css';


.create-post {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding-top: 32px;
}

.create-post__inner {
    grid-column: inner;
}

.create-post__inner h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 2rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea,
select {
    background-color: var(--color-light-blue);
    border: none;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    padding: 0.75rem;
    font-size: 1rem;
}

input {
    padding: 0.75rem;
}

form a {
    width: 100%;
    display: block;
    text-align: center;
}

label {
    font-weight: 700;
    color: var(--color-black);
}

::placeholder,
option,
.create-post__button-submit {
    color: var(--color-black);
    font-family: 'poppins', sans-serif;
}

option:hover {
    background-color: var(--color-blue-hover);
    color: var(--color-white);
    border-radius: 0.125rem;
    cursor: pointer;
}

.create-post__button-submit:hover {
    cursor: pointer;
}

.create-post__button-back {
    text-decoration: none;
    color: var(--color-blue);
}

.create-post__button-back:hover {
    color: var(--color-blue-hover);
}

