@import 'basic-style.css';

.create-post {
    display: grid;
    grid-template-columns: var(--grid-container);
    padding: 2rem 0 2rem 0;
}

.create-post__inner {
    grid-column: inner;
}

.create-post__inner h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    padding-bottom: 2rem;
}

form {
    max-width: 600px;
    margin: 0 auto;
}

input,
textarea {
    padding: 0.75rem;
    
}

select {
    padding: 0.625rem;
}

input,
textarea,
select {
    background-color: var(--color-light-blue);
    border: none;
    width: 100%;
    margin: 0.5rem 0 1rem 0;
    border-radius: 0.5rem;
    font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
    outline-color: var(--color-blue-hover);
}

select option {
    color: var(--color-black);
    padding: 2px;
}

select option:hover {
    background-color: var(--color-blue-hover);
    cursor: pointer;
} 

select option:checked {
    box-shadow: 0 0 10px 100px var(--color-blue-hover) inset;

}

label, 
::placeholder,
textarea {
    font-family: 'poppins', sans-serif;
}

label,
::placeholder,
.create-post__button-submit {
    color: var(--color-black);
}

label {
    font-weight: 700;
}

::placeholder {
    color: #686262;
}

.create-post__button-submit:hover {
    cursor: pointer;
    background-color: var(--color-blue-hover);
    font-size: 1rem;
}

.create-post__button-back {
    text-decoration: none;
    color: var(--color-blue);
    font-size: 1rem;
    display: block;
    width: 3.75rem;
    margin: 0 auto;
}


.create-post__button-back:hover {
    color: var(--color-blue-hover);
}

